*, html, body{
    padding: 0;
    margin: 0;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1.3s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(250px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.bg{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assests/robot1.jpg");
    width: 100%;
    height:  961px;
    background-size: cover;
    background-position: center;
    
    
}

.nav-item>a:hover,.nav-item a:active{
    background-color: goldenrod;
}

.nav-item a:active{
  background-color: aqua;
}

.text{
    margin-top: 110px;
    font-family: 'Fredoka One', cursive;
}

.text > h1{
    text-transform: uppercase;
    font-size: 90px;
    color: rgb(72, 247, 115);
}

.text > p{
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 30px;
}

@media screen and (max-width:768px) {
    .text > h1{
        font-size : 60px;
    }
    .text > p{
        font-size: 20px;
    }
}
.bt{
    margin-top: 350px;
}

.bg2{
    background: url('../assests/cd.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
}

.text2{
    font-family: 'Bangers', cursive;
}

.text2 > h1{
    font-size: 70px;
}

.text2 > p{
    font-size: 40px;
}

.bg3{
    width:100%;
    height:auto;
}
@media screen and (max-width:768px) {
  .bg3{
    width:100%;
    height:auto;
  }
}

.bg3>img{
    margin-top: 50px;
}

.pt-5{
  font-family: 'Bungee', cursive;
  font-size: 30px;
}

.bg4{
    background-image: url('../assests/cool-background.png');
    background-size: cover;
    width: 100%;
    height: 700px;
}

@media screen and (max-width:768px) {
    .bg4 {
        width:100%;
        height : auto;
    }
    .container {
        max-width:100%;
        width: 100%;
    }
    .col-md-8{
        width:100%;
        float:left;
        margin:0;
    }
    }

.bg5{
    background-image: url('../assests/London-street.jpg');
    background-size: cover;
}

/* countdown*/

#countdown li {
	display: inline-block;
	font-size: 1.5em;
	list-style-type: none;
	padding: 1em;
	line-height: 70px;
	text-transform: uppercase;
	color: #333;
  }
  
  #countdown li span {
	display: block;
	font-size: 4.5rem;
  color: #333;
  }
  
  #countdown .emoji {
	display: none;
	padding: 1rem;
  }
  
  #countdown .emoji span {
	font-size: 4rem;
	padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
	#countdown h1 {
	  font-size: 1.5rem;
	}

	#countdown li {
		font-size: 0.95rem;
		padding: 0.2rem;
		color: #333;
		line-height: 40px;
        margin-top: 30px;
	}
	
	/* .navbar-light .navbar-toggler {
		display: none !important;
	} */
   ul {
		padding: 0;
		margin: 0;
	}
	#countdown li span {
		font-size: 3.375rem;
	}

	#countdown {margin-top: 20px;}
	#countdown ul {
		padding: 0;
		margin: 0;
	
		width: 100%;
		margin: 0 auto;
	}
	
  }

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }


  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }